<%= provide :title, "About Us" %>

<div class="about container-fluid">
	<div class="row">
		<div class="col-md-9">
			<h3>About Me</h3>
			<p>Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb. Find me in app/views/static_pages/about.html.erb.</p>
		</div>
		<div class="col=md-3">
			<%= image_tag("http://placehold.it/200x250") %>
		</div>
	</div>
	
</div>