<%= provide :title, "Contact Us" %>

<div class="contact container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<h3>Contact</h3>
			<p>For additional support contact us at <a href="mailto: support@streams.io">support@streams.io</a></p>
			<p>Send us feedback at <a href="mailto: feedback@streams.io">feedback@streams.io</a></p>
			<p><br></p>
			<h4>Follow Us</h4>
			<ul class="pager">
				<li><%= link_to image_tag("twitter.png", height: '25px', width: '30px'), "#", target: "_blank" %></li>
				<li><%= link_to image_tag("facebook.png", height: '25px', width: '25px'), "#", target: "_blank" %></li>
			</ul>
		</div>
		<div class="cold-md-3">
			
		</div>
	</div>
	
</div>
