<div class="home">
	<div class="jumbotron">
		<h2>Welcome to Streams</h2>
		<div class = "container-fluid">
			<div class = "col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-lg-offset-2 col-lg-8">
				<p>A haven for discussion, between you, your friends and anyone else.</p>
				<div class="description-button">
					<button class="btn btn-default"  data-toggle="modal" data-target="#login-modal">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
	<div class = "how-it-works" id="how-it-works">
		<h3> How it Works </h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
					<div class="thumbnail">
					 	<%= image_tag("http://placehold.it/400x400") %>
					 	<div class="caption">
							<h4> Navigating the site </h4>
							<p>Lets get familiar with the navigation buttons. Starting from left to right, you can add a Stream, view all the Streams you've created, visit your settings page and visit your profile by clicking your picture.</p>
					 	</div>
					</div>
				</div>
				<div class="col-sm-5 col-md-5">
					<div class="thumbnail">
					 	<%= image_tag("http://placehold.it/400x400") %>
					 	<div class="caption">
					 		<h4> Adding a Stream </h4>
							<p>If you're on your computer or tablet, just click the "plus" button on your navigation bar in to add a Stream. On your phone you can open the navigation drawer and select the "Add a Stream" button. </p>
					 	</div>
					</div>
				</div>
				<div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
					<div class="thumbnail">
					 	<%= image_tag("http://placehold.it/400x400") %>
					 	<div class="caption">
					 		<h4> Creating Posts </h4>
							<p>Creating a post is easy! Just navigate to your favorite Stream and click "Add a Post". Enter a title and whatever thoughts you may have, click post and you're golden. To edit or delete your post, click the pencil and 'x' buttons respectively. These same options are provided for any Stream you've created.</p>
					 	</div>
					</div>
				</div>
				<div class="col-sm-5 col-md-5">
					<div class="thumbnail">
					 	<%= image_tag("http://placehold.it/400x400") %>
					 	<div class="caption">
					 		<h4> Extra Tips </h4>
					 		<p>If you want to visit another persons profile page you can click the person silhouette in the upper right corner of any Stream page that's not yours. You'll also see this button on every post if you're on a smaller device. On a computer of tablet you can visit a the profile of a 'poster' by clicking their image.</p>
					 	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
