<div class="home">
	<div class="jumbotron">
		<h2>Welcome to Streams</h2>
		<div class = "container-fluid">
			<div class = "col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-lg-offset-2 col-lg-8">
				<p>A haven for discussion, between you, your friends and anyone else.</p>
				<div class="description-button">
					<button class="btn btn-default"  data-toggle="modal" data-target="#login-modal">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
	<div class = "how-it-works" id="how-it-works">
		<h3> How it Works </h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
					<div class="thumbnail">
					 	<%= image_tag("http://placehold.it/400x400") %>
					 	<div class="caption">
					 		<h4> First heading </h4>
					 		<p>First description</p>
					 	</div>
					</div>
				</div>
				<div class="col-sm-5 col-md-5">
					<div class="thumbnail">
					 	<%= image_tag("http://placehold.it/400x400") %>
					 	<div class="caption">
					 		<h4> Second heading </h4>
					 		<p>Second description</p>
					 	</div>
					</div>
				</div>
				<div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
					<div class="thumbnail">
					 	<%= image_tag("http://placehold.it/400x400") %>
					 	<div class="caption">
					 		<h4> Third heading </h4>
					 		<p> Description</p>
					 	</div>
					</div>
				</div>
				<div class="col-sm-5 col-md-5">
					<div class="thumbnail">
					 	<%= image_tag("http://placehold.it/400x400") %>
					 	<div class="caption">
					 		<h4> Fourth heading </h4>
					 		<p>Description</p>
					 	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
