<div class="main">
	<div class="container">
		<h4 class="custom-h4">My Streams</h4>
		<%= link_to button_tag("Create a new Stream", class: "btn btn-primary btn-block"), new_conversation_path %>
		<% if conversations %>
			<% conversations.each do |conversation| %>
				<%= render conversation %>
			<% end %>
		<% end %>
	</div>
</div>