<div class="stream-list">
	<div class="container">
		<% if conversations %>
			<% conversations.each do |conversation| %>
				<%= render conversation %>
			<% end %>
		<% else %>
			<button type="button" class="btn btn-custom btn-block" data-toggle="modal" data-target="#new-post">Create a new Stream</button>
		<% end %>
	</div>
</div>