<div class="main">
	<h4 class="custom-h4"> Feed </h4>
	<% if @posts != [] %>
		<%= link_to button_tag("Check out a list of Streams", class: "btn btn-primary btn-block"), view_all_conversations_path %>
		<%= render @posts %>
	<% else %>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 no-activity">
					<p> Looks like you don't have anything here. </p>
					<%= link_to button_tag("Try Creating your own Stream", class: "btn btn-primary"), new_conversation_path %>
					<p> or </p>
					<%= link_to button_tag("Check out a list of Streams", class: "btn btn-primary"), view_all_conversations_path %>
				</div>
			</div>
		</div>
	<% end %>
</div>