<%= provide(:title, 'Sign Up') %>

<div class="new">
	<div class="container-fluid">
		<div class="row">
			<h3> Sign Up </h3>
			<div class="col-sm-4 col-sm-offset-4">
				<div class="omniauth-buttons">
					<button type="button" class="btn btn-default btn-block btn-large" id="facebook-signin"><%= link_to "Sign Up with Facebook", "auth/facebook" %></button>
					<button type="button" class="btn btn-default btn-block btn-large" id="twitter-signin"><%= link_to "Sign Up with Twitter", "auth/twitter" %></button>
					<button type="button" class="btn btn-default btn-block btn-large" id="google-signin"><%= link_to "Sign Up with Google", "auth/google_oauth2" %></button>
				</div>
			</div>
		</div>
	</div>
</div>