<div class="display-post">
	<div class= "panel panel-default">
		<div class="panel-heading"><h5><%= post.title %></h5></div>
		<div class="panel-body">
			<p>By: <%= post.user.name %></p>
			<p><%= post.content %></p>
		</div>
	</div>
</div>