@import "bootstrap";

html {
	overflow-y: scroll;
}

body {
	padding-top: 51px;
}

.container {
	position: relative;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

$bgDefault: #1164b1;
$bgHighlight: #1164b1;
$colDefault: white;
$colHighlight: #e7e7e7;
.navbar-custom {
	background-color: $bgDefault;
	border-color: $bgHighlight;
	.navbar-brand {
		color: $colDefault;
		&:hover, &:focus { 
			color: $colHighlight; 
		}
	}
	.navbar-text {
		color: $colDefault; 
	}

	.navbar-nav {
		> li {
			> a {
				color: $colDefault;
				&:hover,  &:focus {
					color: $colHighlight; 
				}
			}
		}
		> .active {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; 
			}
		}
		> .open {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; 
			}
		}
	}
	.navbar-toggle {
		border-color: $bgHighlight;
		&:hover, &:focus {
			background-color: $bgHighlight; 
		}
		.icon-bar {
			background-color: $colDefault; 
		}
	}
	.navbar-collapse,
	.navbar-form {
		border-color: $colDefault; 
	}
	.navbar-link {
		color: $colDefault;
		&:hover {
			color: $colHighlight; 
		}
	}
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $colDefault;
			&:hover, &:focus {
				color: $colHighlight; 
			}
		}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $colHighlight;
				background-color: $bgHighlight; 
			}
		}
	}
}

header {

	.navbar {
		margin-bottom: 0px;
	}

	a {
		text-decoration: none;
		color: white;
		font-weight: 200;
		&:hover {
			color: #e7e7e7;
			text-decoration: none;
		}
	}

	.btn-custom {
		background-color: inherit;
		border: 1px solid white;
		border-radius: 0;
		color: white;
		font-weight: 200;
		&:hover {
			color: #e7e7e7;
		}
	}
}

.modal {

	text-align: center;

	.modal-title {
		color: #777;
		font-weight: 300;
	}

	.omniauth-buttons {

		display: inline-block;

		a {
			text-align: left;
			color: white;
			font-size: 15px;
			&:hover {
				background-color: inherit;
				text-decoration: none;
			}
		}

		button {
			line-height: 24px;
			margin-bottom: 8px;
			border-radius: 3px;
			padding-left: 14px;
			padding-right: 44px;
		}

		#facebook-signin {
			text-align: left;
			background-color: #4963A4;
		}

		#twitter-signin {
			text-align: left;
			background-color: #55ACEE;
		}

		#google-signin {
			text-align: left;
			background-color: #DF4B31;
		}
	}
}

footer {
	padding-right: 2%;
	padding-left: 2%; 
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #e7e7e7;
	color: #777777;
	a {
		color: #777777;
		font-size: 11px;
		&:hover {
			text-decoration: none;
		  	color: #dfdfdf;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
	  		float: left;
	  		margin-left: 10px;
		}
	}
}


