@import "bootstrap";

html {
	overflow-y: scroll;
}

body {
	padding-top: 51px;
}

.container {
	position: relative;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

footer {
	padding-right: 2%;
	padding-left: 2%; 
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #e7e7e7;
	color: #777777;
	a {
		color: #777777;
		font-size: 11px;
		&:hover {
			text-decoration: none;
		  	color: #dfdfdf;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
	  		float: left;
	  		margin-left: 10px;
		}
	}
}


