@import "bootstrap";

html {
	overflow-y: scroll;
}

body {
	padding-top: 51px;
}

.container {
	position: relative;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

header {
	.navbar {
		margin-bottom: 0px;
	}

	a {
		text-decoration: none;
		color: #777777;
		&:hover {
			color: #777777;
			text-decoration: none;
		}
	}
}

.modal {

	text-align: center;

	.omniauth-buttons {

		display: inline-block;

		a {
			text-align: left;
			color: white;
			font-size: 15px;
			&:hover {
				background-color: inherit;
				text-decoration: none;
			}
		}

		button {
			line-height: 24px;
			margin-bottom: 8px;
			border-radius: 3px;
			padding-left: 14px;
			padding-right: 44px;
		}

		#facebook-signin {
			text-align: left;
			background-color: #4963A4;
		}

		#twitter-signin {
			text-align: left;
			background-color: #55ACEE;
		}

		#google-signin {
			text-align: left;
			background-color: #DF4B31;
		}
	}
}

footer {
	padding-right: 2%;
	padding-left: 2%; 
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #e7e7e7;
	color: #777777;
	a {
		color: #777777;
		font-size: 11px;
		&:hover {
			text-decoration: none;
		  	color: #dfdfdf;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
	  		float: left;
	  		margin-left: 10px;
		}
	}
}


