// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new {
	padding-top: 25px;
	text-align: center;

	h3 {
		padding-bottom: 10px;
	}

	.form-inline {
		text-align: left;
		margin-left: 0;
    	margin-right: 0;
    	padding-bottom: 10px;
	}

	#email {
		width: 100%;
	}

	button {
		background-color: #1164b1;
		color: white;
	}

	.omniauth-buttons {

		padding-top: 15px;
		display: inline-block;

		a {
			color: white;
			font-size: 16px;
			&:hover {
				background-color: inherit;
				text-decoration: none;
			}
		}

		button {
			line-height: 24px;
			margin-bottom: 10px;
			border-radius: 3px;
			padding-left: 44px;
			padding-right: 44px;
		}

		#facebook-signin {
			background-color: #4963A4;
		}

		#twitter-signin {
			background-color: #55ACEE;
		}

		#google-signin {
			background-color: #DF4B31;
		}
	}
}